nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 16px;
}
nav img{
    height: 70px;
}
nav a{
    color: black;
    text-decoration: none;
    @extend .text-6;
}